# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production builds
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# якщо є окремий сервер (залиш як у тебе)
/solana-server
/solana-server/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VSCode та інші IDE
.vscode/
.idea/
